html, body, #root {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* 화면 전체 높이 */
  background: #fff;
  font-family: "Pretendard", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  border-bottom: 2px solid #3d348b;
}

.headerButton,
.addButton {
  background: none;
  border: none;
  cursor: pointer;
}

.headerTitle {
  font-weight: bold;
  font-size: 18px;
}

.resourceList {
  flex-grow: 1;       /* 남은 공간 모두 채움 */
  overflow-y: auto;   /* 내용 많으면 스크롤 */
  padding: 0 16px;    /* 좌우 여백 */
  margin-bottom: 10px;
}

.resourceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid #3d348b;
  font-weight: bold;
  cursor: pointer;
}

.resourceTitle {
  font-size: 16px;
}

.resourceAuthor {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}

/* 하단 탭바 */
.tabbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0;
  background: #3D348B;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 2px;
}
