.container {
  display: flex;
  flex-direction: column;
  height: 100vh;      
  background-color: #fff;
  overflow: hidden;     
  font-family: "Pretendard", sans-serif;
}

.header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 14px 20px;
  border-bottom: 2px solid #3d348b;
  min-height: 48px; 
}


.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center; 
}

.header-center {
  flex: 1;
  justify-content: center; 
}

.header-right {
  min-width: 24px; 
}

.headerButton,
.addButton {
  background: none;
  border: none;
  cursor: pointer;
}

.headerTitle {
  font-weight: bold;
  font-size: 18px;
}


.resourceList {
  flex: 1;             
  overflow-y: auto;     
  padding: 14px 16px 80px;  
}


.resourceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 2px solid #3d348b;
  font-weight: bold;
  cursor: pointer;
}

.resourceTitle {
  font-size: 16px;
}

.resourceAuthor {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
}


.tabbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0;
  background: #3D348B;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 2px;
}
