.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px;
  background-color: white;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.headerButton {
  margin-right: 8px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.headerTitle {
  font-weight: bold;
  font-size: 18px; 
}

.label {
  font-weight: 600;
  margin-bottom: 4px;
}

.inputField {
  border: 2px solid #3d348b; 
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.textareaField {
  border: 2px solid #3d348b;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  height: 160px;
  width: 100%;
  resize: none;
}

.fileInputContainer {
  display: flex;
  align-items: center;
  border: 2px solid #3d348b;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 16px;
  width: 100%;
}

.fileInput {
  flex-grow: 1;
}

.addIcon {
  margin-left: 8px;
  color: #3d348b;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}

.submitButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: 80px;
}

.submitButton {
  background-color: #3d348b;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 8px 16px;
  cursor: pointer;
  /*font-weight: bold;*/
}

/* 하단 탭바 */
.tabbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0;
  background: #3D348B;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 2px;
}