.bookmarked-title-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;

    font-size: clamp(24px, 4vw, 24px);
    font-size: clamp(20px, 4vw, 24px);

    color: #000;
    margin: 0;
    text-align: center;

    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
}

.bookmarked-group-container{
    position: relative;
    display: flex;
    flex-direction: row;

    width: 380px;
    height: 150px;
    background: #fff;
    border-radius: 15px;

    left: 50%;
    transform: translateX(-50%);
    top: 130px;

    margin-bottom: 15px;

    box-shadow: 0px 4px 10px 2px rgba(0,0,0,0.25);
    cursor: pointer;
}

.bookmarked-group-title{
    position: absolute;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: #000;

    left: 5%;
    top: 10%;
}

.bookmarked-group-category{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    left: 5%;
    top: 32%;

    margin-top: 5px;
    margin-right: 5px;

    width: 60px;
    height: 20px;

    border: 1px solid #000;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
}

.bookmarked-group-category h4{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;

    color: #000;

    top: 3%;
}

.bookmarked-group-bio{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 11px;

    color: #000;
    opacity: 0.55;

    left: 5%;
    top: 65%;

    width: 200px;
}

.bookmarked-group-Curmember-container{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;

    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    left: 80%;
    top: 65%;

    width: 35px;
    height: 30px;

}

.bookmarked-group-Maxmember-container{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;

    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    left: 88%;
    top: 65%;

    width: 35px;
    height: 30px;
}

.bookmarked-group-member-bar{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;

    color: #000;

    left: 88%;
    top: 66%;
}

.bookmarked-group-member-count{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 15px;
}

.bookmarked-group-member-text{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 7px;

    top: 65%;
}

.bookmarked-group-bookmark-button{
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    left: 89%;
    top: 17%;
}

.bookmarked-group-heart{
    position: absolute;
    width: 25px;
    height: 23px;

    transform: translate(-3px, 0px);
}

.bookmarked-group-emptyHeart{
    position: absolute;
    width: 19px;
    height: 16.92px;
}