.login-container {
  position: static;
  transform: none;
  width: 90%;
  max-width: 400px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-buttons-container {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px; 
  gap: 20px;      
  align-items: center;
}

.id-password {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  width: clamp(80px, 12vw, 80px);
  height: clamp(80px, 12vw, 80px);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.signup-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;

  gap: 50px;

}

.social-login-button {
  width: clamp(80px, 12vw, 80px);
  height: clamp(80px, 12vw, 80px);
  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}

.register-button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}