/* 상단 */
.top-bar {
  position: relative;
  height: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #cfcfcf;
}


.back-btn {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* 더보기 버튼 오른쪽 고정 */
.more-btn {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* 팝업 */
.menu-popup {
  position: absolute;
  top: 40px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 50;
  width: 60px;
}
