/* 과제 수정 화면과 css 공유함 */

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  border-bottom: 1px solid #cfcfcf;
  position: relative;
}

.more-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
}


.menu-popup {
  position: absolute;
  top: 40px;
  right: 14px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 50;
}

.menu-popup div {
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
}

.menu-popup div:hover {
  background-color: #f2f2f2;
}


.date-inputs {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}

.date-inputs input {
  width: 50px;
  border: 1px solid #3d348b;
  border-radius: 6px;
  height: 30px;
  text-align: center;
  font-size: 14px;
}

.calendar-icon {
  margin-left: 8px;
  color: #3d348b;
  cursor: pointer;
}


.mini-calendar {
  margin-top: 8px;
  border: 1px solid #3d348b;
  border-radius: 6px;
  padding: 6px;
  text-align: center;
  font-size: 14px;
  width: fit-content;
}

.submission-section textarea {
  width: 100%;
  height: 140px;
  border: 1.5px solid #3d348b;
  border-radius: 8px;
  margin-top: 8px;
  padding: 10px;
  font-size: 14px;
  resize: none;
  box-sizing: border-box;
}

/* 첨부 파일 */
.file-input-wrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 6px;
}

.file-display {
  flex: 1;
  border: 1px solid #3d348b;
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 14px;
}

.file-upload-btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1.5px solid #3d348b;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  cursor: pointer;
}

.submit-btn-wrapper {
  margin-top: 12px;
}

.submit-btn {
  width: 10%;
  background-color: #3d348b;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #2c2675;
}
