.assignments-testlist {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #fff;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  position: relative;
  font-weight: bold;
  font-size: 20px;
}

.back-btn {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}


.feedback-list {
  flex: 1;
  padding: 12px 16px;
  overflow-y: auto;
}

.feedback-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid #ddd;
  padding: 12px 0;
}

.left {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.profile-img {
  width: 36px;
  height: 36px;
  border-radius: 50%; 
  object-fit: cover;  

}

.name {
  font-weight: bold;
  font-size: 15px;
}

.time {
  font-size: 12px;
  color: gray;
}

.comment {
  font-size: 14px;
  margin-top: 4px;
}

.score {
  font-weight: bold;
  font-size: 18px;
  color: #3d348b;
}

.empty-text {
  text-align: center;
  color: gray;
  margin-top: 40px;
}

.tabbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6px 0;
  background-color: #3d348b;
  color: white;
}

.tabItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
